.navbar {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 999;
}

.logoArea {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.logo {
  width: 40px;
  height: auto;
}

.navLinks {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex: 1;
}

.authLinks {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  font-weight: 700;
}

.navLinks :global(a),
.authLinks :global(a) {
  position: relative;
  text-decoration: none;
  color: #1f2937;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.authLinks :global(a) {
  font-weight: 700;
}

.navLinks :global(a)::after,
.navLinks :global(a)::before,
.authLinks :global(a)::after,
.authLinks :global(a)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #2563eb;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease-out;
}

.navLinks :global(a)::after,
.authLinks :global(a)::after {
  bottom: -1px;
  transform-origin: right;
}

.navLinks :global(a)::before,
.authLinks :global(a)::before {
  transform-origin: left;
}

.navLinks :global(a:hover),
.authLinks :global(a:hover) {
  color: #2563eb;
}

.navLinks :global(a:hover)::after,
.navLinks :global(a:hover)::before,
.authLinks :global(a:hover)::after,
.authLinks :global(a:hover)::before {
  transform: scaleX(1);
}

.navLinks :global(a.active){
  color: #2563eb;
}

.nomeUser {
  color: #2563eb;
  padding-right: 1rem;
}