.container {
  min-height: 100vh;
  padding: 2rem;
  background-color: #0070f3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logoArea {
  margin-bottom: -25px;
}

.logoArea img {
    height: 300px;
    width: auto;
}

.title {
  font-size: 3rem; /* Aumentado */
  font-weight: 800; /* Mais negrito */
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 600px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1200px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s, background 0.3s;
}

.card h2 {
  font-size: 1.75rem;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}


.card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.2);
}

.icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  display: block;           
  margin-left: auto;       
  margin-right: auto;
}


.subscribeButton {
  background-color: white;
  color: #0070f3;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 1rem;
}

.subscribeButton:hover {
  background-color: #e0e0e0;
}

.backLink {
  margin-top: 1.5rem;
  text-decoration: underline;
  margin-bottom: 2rem;
}
.paymentAmount {
  font-size: 1.5rem;
}

/* ✅ Responsividade */
@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
